.product-card {
  text-decoration: none;
  color: black;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 340px;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  margin-bottom: 20px;
}

.product-image img {
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.product-body {
  padding: 20px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.product-description .read-more {
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer;
}

.product-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #337ab7;
}

.product-rating {
  font-size: 16px;
  color: #666;
}

.product-rating span {
  margin-right: 10px;
}